@import "tailwindcss";

@theme {
  --color-navyblue: #13203C;
  --color-heavyblue: #162546;
  --color-beige: #E7C9A5;
  --color-lightblue: #E0E8F0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #ffffff;
  min-width: 320px;
  min-height: 100vh;
}

